#define layout(showSidebar)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>#(SEO_TITLE ?? (WEB_TITLE + '-' + WEB_SUBTITLE))</title>
    <meta name="referrer" content="always"/>
    <meta name="keywords" content="#(SEO_KEYWORDS)">
    <meta name="description" content="#(SEO_DESCRIPTION)">
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
    #@css?()
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?f04339697fd69b7d4749c9da3daf85a7";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<section class="header-section">
        #include("header.html")
	</section>
	<!--HOME SECTION END-->
	
	#@content()

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center set-foot">
                Copyright &copy 2018 <a href="/" target="_blank" title="#(WEB_TITLE)">#(WEB_TITLE)</a>. All Rights Reserved. 
            </div>
            <div class="col-md-12 text-center">
				<script type="text/javascript" src="//js.users.51.la/19731447.js"></script>
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275289641'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1275289641%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
        </div>
    </div>
<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $(".navmenu").mouseover(function(){
                $(this).children("ul").show();
            })

            $(".navmenu").mouseout(function(){
                $(this).children("ul").hide();
            })
        })
    </script>
#@script?()
</body>
</html>
#end