
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<a href="/"><img src="assets/img/logo.png" /></a>
		</div>
		<div class="col-md-5 text-center">
		</div>
		<div class="col-md-5">
		</div>
	</div>
</div>
<nav class="u-menu container">
	<ul>
		#categories(asTree=true)
		#for(category : categories)
		#if(category.isTop())
		<li class="navmenu"><a href="#(category.url ??)" class="#(category.isActive ? 'active' : '')">#(category.title ??)</a>
			#for(category2 : category.getChilds())
			<ul>
				<li><a href="#(category2.url ??)" class="#(category2.isActive ? 'active' : '')">#(category2.title ??)</a></li>
			</ul>
			#end
		</li>
		#end
		#end
		#end
	</ul>
</nav>